<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codemao.xunmiao.mapper.SeatInfoMapper">

    <resultMap id="StaffInfoResultMap" type="com.codemao.xunmiao.domain.staffEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="floor" property="floor"/>
        <result column="block" property="block"/>
        <result column="seat" property="seat"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="createTime"/>
    </resultMap>
    <sql id="tbl_staff_info">`xunmiao_db`.`tbl_staff_info`</sql>
    <sql id="base_cloumn_list">`id`,`name`,`floor`,`block`,`seat`,`create_time`,`update_time`</sql>
    <delete id="deleteStaff">
        delete
        from
        <include refid="tbl_staff_info"/>
        <where>
                `seat` = #{seat_id}
            and `block` = #{block_id}
            and `floor` = #{floor_id}
        </where>
    </delete>

    <select id="listFloorInfo" resultMap="StaffInfoResultMap">
        select
        <include refid="base_cloumn_list"></include>
        from
        <include refid="tbl_staff_info"/>
        <where>
            `floor` = ${floor}
        </where>
        order by `block`,`seat` ASC
    </select>

    <select id="ListStaffByfloorAndblockId" resultMap="StaffInfoResultMap">
        select
        <include refid="base_cloumn_list"></include>
        from
        <include refid="tbl_staff_info"></include>
        <where>
            `floor` = #{floor}
            and `block` = #{block}
        </where>
        order by `seat` ASC
    </select>

    <select id="ListStaffInfoByIdOrName" resultMap="StaffInfoResultMap">
        select
        <include refid="base_cloumn_list"></include>
        from
        <include refid="tbl_staff_info"></include>
        where
          `id` = #{keyword}
        OR `name` = #{keyword}
    </select>
</mapper>


